
.player-content-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    margin-top: 2em;


	& .buttons{
		display: flex;	
	}

    .my-table{
        table {
            border-collapse: collapse;
            width: 100%;
          }

          th{
            background-color: #CC2229;
            color: #fff;
            font-weight: bolder;
          }
          
          td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
          }
          
          tr:nth-child(even) {
            background-color: #fff;
          }
    }

}

.player-popup{
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.815);


    & a{
        color: black;
    }
}